<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test_ai/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>AIMAT</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'test_ai/favicon.ico' %}"/>
    </head>
    <body>
        <div class="image_container">
            <img src="{% static 'test_ai/MOF_Synthesis_Prediction_no_text.png' %}" alt="logo" width="810">
        </div>
        <div class="topnav">
            <a class="active" href="{% url 'index' %}">Home</a>
            <a href="{% url 'upload' %}">MOF Synthesis Prediction</a>
            <a href="https://github.com/aimat-lab/MOF_Synthesis_Prediction" target="_blank">GIT Hub</a>
            <a href="https://aimat.science" target="_blank">AiMat Lab</a>
            <a href="https://www.ifg.kit.edu/index.php" target="_blank">IFG (KIT)</a>
        </div>

        <div style="height: 60px"></div>

        <div class="center">
            <h2>MOF Synthesis prediction</h2>
            The MOF synthesis prediction tool is developed by the labs of Manuel Tsotsalas and Pascal Friederich at the Karlsruhe Institute of Technology (KIT).<br>
            <a href="upload"><h1>MOF Synthesis Prediction Tool</h1></a><br> 
           
            
            <h2>Contact</h2>
            Pascal Friederich (<a href= "mailto:pascal.friederich@kit.edu">pascal.friederich@kit.edu</a>)<br>
            Manuel Tsotsalas (<a href= "mailto:manuel.tsotsalas@kit.edu">manuel.tsotsalas@kit.edu</a>)<br>
            <h2>Further information</h2>
            Further information can be found in our paper and on github:<br>
            MOF Synthesis Prediction Enabled by Automatic Data Mining and Machine Learning<br>
            <i>Yi Luo, Saientan Bag, Orysia Zaremba, Jacopo Andreo, Stefan Wuttke, Pascal Friederich, and Manuel Tsotsalas</i><br> 
            <a href="https://github.com/aimat-lab/MOF_Synthesis_Prediction" target="_blank">https://github.com/aimat-lab/MOF_Synthesis_Prediction</a><br> 
            <h2>Development team</h2>
            Saientan Bag<br>
            Adrian Cierpka<br>
            Li Yuo<br>
            <img src="{% static 'test_ai/AiMat_logo_blue_transparent.png' %}" alt="AiMat Lab logo" width="200">
            <img src="{% static 'test_ai/2000px-Logo_KIT.svg.png' %}" alt="KIT logo" width="200"><br>
        </div>

    </body>
</html>

