<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test_ai/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>AIMAT</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'test_ai/favicon.ico' %}"/>
    </head>
    <body>
        <div class="image_container">
            <img src="{% static 'test_ai/MOF_Synthesis_Prediction_no_text.png' %}">
        </div>
        <div class="topnav">
            <a class="active" href="{% url 'index' %}">Home</a>
            <a href="{% url 'upload' %}">AI Test</a>
            <a href="https://github.com/aimat-lab/MOF_Synthesis_Prediction">GIT Hub</a>
            <a href="https://aimat.science">AiMat Lab</a>
            <a href="https://www.ifg.kit.edu/index.php">IFG, KIT</a>
        </div>
    </body>
</html>

