<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'test_ai/style.css' %}">
    <head>
        <meta charset="utf-8">
        <title>AIMAT</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'test_ai/favicon.ico' %}"/>
    </head>
    <body>
        <div class="image_container">
            <img src="{% static 'test_ai/MOF_Synthesis_Prediction_no_text.png' %}" alt="logo" width="810">
        </div>
        <div class="topnav">
            <a href="{% url 'index' %}">Home</a>
            <a class="active" href="{% url 'upload' %}">MOF Synthesis Prediction</a>
            <a href="https://chemrxiv.org/engage/chemrxiv/article-details/610936ae8804439fdde55e7b" target="_blank">Paper</a>
            <a href="https://github.com/aimat-lab/MOF_Synthesis_Prediction" target="_blank">GIT Hub</a>
            <a href="https://aimat.science" target="_blank">AiMat Lab</a>
            <a href="https://tsotsalas-group.com" target="_blank">Tsotsalas Group</a>
        </div>

        <div style="height: 60px"></div>

        <div class="center">
            <h2>MOF Synthesis prediction</h2>
	    <p>Choose a cif file to upload:<br>
            (If you want to test the prediction using MOF-5, you can <a href="{% static 'test_ai/EDUSIF_clean.cif' %}" download="">download a cif file here</a>.)
	    </p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document">
                <button type="submit">Predict synthesis conditions</button>
            </form>
            <div style="height: 30px"></div>
            The results will be printed below. The calculation might take a few seconds.
            <div style="height: 60px"></div>
	    <table><tr style="padding-bottom:30px">
		<td style="width:25%">
                {% if temperature %}
	    	    <div style="display:block;vertical-align:top;text-align:center">
                        <img src="{% static 'test_ai/icon_temperature.png' %}" alt="icon temperature" width="81">
			<h3>Temperature: {{ temperature }} °C </h3>
			{% if temperature_cert %} ({{ temperature_cert }} certainty prediction) {% endif %}
		    </div>
                {% endif %}
	    	</td>
		<td style="width:25%">
                {% if time %}
	    	    <div style="display:block;vertical-align:top;text-align:center">
                        <img src="{% static 'test_ai/icon_time.png' %}" alt="icon time" width="81">
			<h3>Temperature: {{ time }} hours </h3>
			{% if time_cert %} ({{ time_cert }} certainty prediction) {% endif %}
		    </div>
                {% endif %}
	    	</td>
		<td style="width:25%">
                {% if solvent %}
	    	    <div style="display:block;vertical-align:top;text-align:center">
                        <img src="{% static 'test_ai/icon_solvent.png' %}" alt="icon solvent" width="81">
			<h3>Solvent: {{ solvent }} </h3>
			{% if solvent_cert %} ({{ solvent_cert }} certainty prediction) {% endif %}
		    </div>
                {% endif %}
	    	</td>
		<td style="width:25%">
                {% if additive %}
	    	    <div style="display:block;vertical-align:top;text-align:center">
                        <img src="{% static 'test_ai/icon_additive.png' %}" alt="icon additive" width="81">
			<h3>Additive: {{ additive }} </h3>
			{% if additive_cert %} ({{ additive_cert }} certainty prediction) {% endif %}
		    </div>
                {% endif %}
	    	</td>
	    </tr>
	    <tr>
		<td colspan="4" style="width:100%;padding-top:20px">
		{% if predictions %}
		The certainty of the prediction was based on the agreement/disagreement between 10 different models trained on different subsets of the dataset. For comparably high agreement, the prediction certainty is high, for medium agreement the prediction uncertainty increases, and for rather low agreement, we have to assume that the uploaded MOF is very different from the MOFs in the dataset, leading to a relatively high prediction uncertainty.
		{% endif %}
		</td>
	    </tr></table>
        </div>
    </body>
</html>


